<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <title>Juddle Employer POC</title>
    <script type="text/javascript">document.write("<script type='text/javascript' src='./js/jquery.2-2-4.js?v=" + Date.now() + "'><\/script>");</script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <script type="text/javascript">document.write("<link rel='stylesheet' href='./css/main.css?v=" + Date.now() + "'>");</script>
</head>
<body>
    <div id="wrapper">  
    </div>
    <script type="text/javascript">document.write("<script type='text/javascript' src='./js/library.js?v=" + Date.now() + "'><\/script>");</script>
    <script type="text/javascript">document.write("<script type='text/javascript' src='./js/data.js?v=" + Date.now() + "'><\/script>");</script>
</body>
</html>